<link href="/css/custom.css" rel="stylesheet" />
<link href="/css/assign-class.css" rel="stylesheet" />

<link rel="stylesheet" href="/js/dataTables/dataTables.bootstrap.css" />
{{! Test }}

{{! end test }}
<!--Content starts here-->
<h1>Class: {{classroom.class_name}}</h1>
<div class="row">
  <div class="col-md-12">
    <!--    Hover Rows  -->
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 16px">
        <div class="panel-heading-title">Teachers</div>
        <div class="panel-heading-btn">
          <button
            class="btn btn-success btn-md"
            data-toggle="modal"
            data-target="#teacherModal"
          >
            Assign new teacher
          </button>
          <div
            class="modal fade"
            id="teacherModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">
                    Assign teacher to class
                  </h4>
                </div>
                <div id="teacher-list" class="modal-body">
                  <input class="fuzzy-search" placeholder="Search teacher" />
                  <!-- Reference: https://www.codinglabweb.com/2022/07/multiple-options-select-menu-javascript.html -->
                  <div class="select-btn open">
                    <span class="btn-text">Please select teacher to assign</span>
                  </div>

                  <form
                    id="teachers-form"
                    class="add-form"
                    action="/class/{{classroom._id}}/assign"
                    method="POST"
                  >
                    <ul class="list list-items">
                      {{#each teachers.notInClassTeachers}}
                        <li class="item">
                          <input
                            class="checkbox"
                            name="users[]"
                            type="checkbox"
                            value="{{_id}}"
                            autocomplete="off"
                          />
                          <span class="item-text">{{first_name}}
                            {{last_name}}</span>
                        </li>
                      {{/each}}
                    </ul>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    id="add-teachers"
                    type="submit"
                    class="btn btn-success"
                  >
                    Add
                  </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="teacher-table" class="table table-hover display">
            <thead>
              <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Enroll date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {{#each teachers.inClassTeachers}}
                <tr>
                  <td>{{first_name}} {{last_name}}</td>
                  <td>Teacher</td>
                  <td>{{enroll_date}}</td>
                  <td>
                    <form
                      action="/class/{{class_id}}/unassign/{{_id}}"
                      method="POST"
                      style="display: flex"
                    >
                      <button class="btn btn-danger remove-btn">
                        <i class="fa fa-user-times"></i>
                        Remove
                      </button>
                    </form>
                  </td>

                </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End  Hover Rows  -->
  </div>
  <!-- /. ROW  -->
</div>

<!-- STUDENT LIST -->
<div class="row">
  <div class="col-md-12">
    <!--    Hover Rows  -->
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 16px">
        <div class="panel-heading-title">Students</div>
        <div class="panel-heading-btn">
          <button
            class="btn btn-success btn-md"
            data-toggle="modal"
            data-target="#studentModal"
          >
            Add new student
          </button>
          <div
            class="modal fade"
            id="studentModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                          </button> -->
                  <h4 class="modal-title" id="myModalLabel">
                    Add student to class
                  </h4>
                </div>
                <div id="student-list" class="modal-body">
                  <input class="fuzzy-search" placeholder="Search student" />
                  <!-- Reference: https://www.codinglabweb.com/2022/07/multiple-options-select-menu-javascript.html -->
                  <div class="select-btn open">
                    <span class="btn-text">Please select student to add</span>
                    <!-- <span class="arrow-dwn">
                              <i class="fa-solid fa-chevron-down"></i>
                            </span> -->
                  </div>
                  <form
                    id="students-form"
                    class="add-form"
                    action="/class/{{classroom._id}}/assign"
                    method="POST"
                  >
                    <ul class="list list-items">
                      {{#each students.notInClassStudents}}
                        <li class="item">
                          <input
                            class="checkbox"
                            name="users[]"
                            type="checkbox"
                            value="{{_id}}"
                            autocomplete="off"
                          />
                          <span class="item-text">{{first_name}}
                            {{last_name}}</span>
                        </li>
                      {{/each}}
                    </ul>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    id="add-students"
                    type="submit"
                    class="btn btn-success"
                  >
                    A
                  </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="student-table" class="table table-hover display">
            <thead>
              <tr>
                {{! <th>ID</th> }}
                <th>Name</th>
                <th>Role</th>
                <th>Enroll date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each students.inClassStudents}}
                <tr>
                  {{! <td>2059035</td> }}
                  <td>{{first_name}} {{last_name}}</td>
                  <td>Student</td>
                  <td>{{enroll_date}}</td>
                  <td>
                    <form action="/class/{{class_id}}/unassign/{{_id}}" method="POST" style="display: flex">
                      <button class="btn btn-danger remove-btn">
                        <i class="fa fa-user-times"></i>
                        Remove
                      </button>
                    </form>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End  Hover Rows  -->
  </div>
  <!-- /. ROW  -->
</div>

<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/js/jquery.metisMenu.js"></script>

<!-- DATATABLES -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/js/dataTables/jquery.dataTables.js"></script>
<script src="/js/dataTables/dataTables.bootstrap.js"></script>

<!-- LIST.JS -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"
></script>

<!-- CUSTOM SCRIPTS -->
<script src="/js/custom.js"></script>
<script src="/js/assign-class.js"></script>