<link rel="stylesheet" href="/js/dataTables/dataTables.bootstrap.css" />

<div class="row">
  <div class="col-lg-12">
    <h2>Class Page</h2>
  </div>
</div>

<!-- /. ROW  -->
<hr />
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info">
      <strong>Welcome to the Class Page </strong>
    </div>
  </div>
</div>
{{!-- Danh sach students and teachers --}}
<div class="row">
  <div class="col-md-6">
    <!--    Hover Rows  -->
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 16px">
        <div class="panel-heading-title">Students</div>
        <div class="panel-heading-btn">
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="student-table" class="table table-hover display">
            <thead>
              <tr>
                {{! <th>ID</th> }}
                <th>Name</th>
              </tr>
            </thead>

            <tbody>
              {{#each students}}
                <tr>
                  {{! <td>2059035</td> }}
                  <td>{{first_name}} {{last_name}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End  Hover Rows  -->
  </div>
    <div class="col-md-6">
    <!--    Hover Rows  -->
    <div class="panel panel-default">
      <div class="panel-heading" style="font-size: 16px">
        <div class="panel-heading-title">Teachers</div>
        <div class="panel-heading-btn">
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="student-table" class="table table-hover display">
            <thead>
              <tr>
                {{! <th>ID</th> }}
                <th>Name</th>
              </tr>
            </thead>

            <tbody>
              {{#each teachers}}
                <tr>
                  {{! <td>2059035</td> }}
                  <td>{{first_name}} {{last_name}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End  Hover Rows  -->
  </div>
  <!-- /. ROW  -->
</div>
{{!-- ---------------- --}}
<!-- /. ROW  -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        List of Assignments
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Assignment Name</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each assignments}}
              <tr>
                <td>
                  <a href="/assignment/{{_id}}">{{assignment_name}}</a>
                  </td>
                <td>March 15th, 2023</td>
                <td>Not Submitted</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /. ROW  -->
{{!-- <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Search Assignments
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>Assignment Name</label>
            <input class="form-control" />
          </div>
          <div class="form-group">
            <label>Due Date</label>
            <input type="date" class="form-control" />
          </div>
          <div class="form-group">
            <label>Status</label>
            <select class="form-control">
              <option>All</option>
              <option>Not Submitted</option>
              <option>Submitted</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </div>
</div> --}}
<!-- /. ROW  -->
<!-- create assignment  -->
{{#ifEquals user.user_type "1"}}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Create New Assignment
      </div>
      <div class="panel-body">
        <form
          role="form"
          action="/assignment/create"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="form-group">
            <label>Assignment Name</label>
            <input class="form-control" name="assignment_name" value="{{values.assignment_name}}"/>
          </div>
          <div class="form-group">
            <label>Due Date</label>
            <input
              type="datetime-local"
              class="form-control"
              name="assignment_due_date"
              value="{{values.assignment_due_date}}"
            />
          </div>
          <div class="form-group">
            <label>Upload File</label>
            <input type="file" name="file" id="file" value="{{values.file}}"/>
            <input type="hidden" name="file_size" id="file_size">
          </div>
          <div class="form-group">
            <label>Instructions</label>
            <textarea class="form-control" name="description" value="{{values.description}}"></textarea>
          </div>
          <input type="hidden" name="class_id" value="{{class_id}}">
          <button type="submit" class="btn btn-primary">Create</button>
        </form>


      </div>
    </div>
  </div>
</div>
{{/ifEquals }}
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
></script>
<!-- METISMENU SCRIPTS -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"
></script>
<!-- CUSTOM SCRIPTS -->

{{#if errors}}
  <script id="alert-script" data="{{errors}}">
    let tag= document.querySelector('#alert-script');
    console.log(tag.getAttribute('data'))
    alert(`${tag.getAttribute('data')}`)
  </script>
{{/if}}

<script>

  var uploadField = document.getElementById("file");
  var sizeField = document.getElementById("file_size");

  uploadField.onchange = function() {
    sizeField.value = this.files[0].size
  };
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/js/dataTables/jquery.dataTables.js"></script>
<script src="/js/dataTables/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function () {
    $('.table').DataTable({
      "info":false,
      "ordering":false,
      "bLengthChange":false,
      "pageLength":4
    }
    );
});
</script>
<!-- CUSTOM SCRIPTS -->
