<h1>{{assignment.assignment_name}}</h1>
{{#if assignment.file_url}}
  <div class="assignment-file">
    <h4>File:</h4>
    <p><a href="{{assignment.file_url}}" target="_blank" class="display-4">File
        đề bài</a></p>
  </div>
{{/if}}
<h4>Due date: {{assignment.due_date}}</h4>
<h4>Description</h4>
<p class="assignment-description alert alert-primary">{{assignment.description}}
</p>
{{! Teacher }}
{{#ifEquals user.user_type "1"}}
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Work Submitted</th>
          <th>Grade</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each submissions}}
          <tr>
            <td>{{first_name}} {{last_name}}</td>
            <td><a href="{{file_url}}">Submitted file</a></td>
            <td>
              {{#if grade includeZero=true}}
              {{grade}}
              {{else}}
              None
              {{/if}}
            </td>
            <td>
              <div class="grade">
                <button class="btn-grade btn btn-success">Grade</button>
                <div class="grade-input-wrapper hidden">
                  <form style="display:inline" method="post" action="/assignment/submit/grade">
                     <input type="text" name="grade" class="grade-input w-50" />
                     <input type="hidden" name="submission_id" value="{{_id}}" />
                     <input type="hidden" name="assignment_id" value="{{assignment_id}}" />
                  
                     <button class="btn btn-success" type="submit">✓</button>
                  </form>

                  <button class="btn btn-danger">X</button>
                </div>
              </div>
            </td>
          </tr>
        {{/each}}

        {{#each notSubmissions}}
          <tr>
            <td>{{first_name}} {{last_name}}</td>
            <td>Not submitted</td>
            <td>None</td>
            <td>

            </td>
          </tr>
        {{/each}}
        <!-- Add more rows for other students -->
      </tbody>
    </table>

  </div>

{{/ifEquals}}
{{! Student }}
{{#ifEquals user.user_type "0"}}
  <div class="submission">
    <div class="student-table table-responsive">
      <h3>Submission status</h3>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          {{! <tr>
            <th></th>
            <th></th>
          </tr> }}
        </thead>
        <tbody>
          <tr>
            <td>Grade</td>
            {{#if submission.grade includeZero=true}}
            <td>{{submission.grade}}</td>
            {{else}}
            <td>Not graded yet</td>
            {{/if}}

            
          </tr>
          <tr>
            <td>Start date</td>
            <td>{{assignment.start_date}}</td>
          </tr>
          <tr>
            <td>Due date</td>
            <td>{{assignment.due_date}}</td>
          </tr>
          <tr>
            <td>File submission</td>
            <td><a
                href="{{submission.file_url}}"
              >{{submission.file_name}}</a></td>
          </tr>
          <!-- Add more rows for other students -->
        </tbody>
      </table>
      {{#if submission}}
        <form
          class="btn-submit-wrapper"
          method="post"
          action="/assignment/changesubmit"
          action="asd"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="student_id" value="{{user._id}}" />
          <input
            type="hidden"
            name="submission_submitted_id"
            value="{{submission._id}}"
          />
          <input
            type="hidden"
            name="assignment_id"
            value="{{assignment._id}}"
          />
          <input type="file" id="submission-file" name="file" />
          <button
            class="btn-submit btn btn-primary"
            type="submit"
          >Submit</button>
        </form>
      {{else}}
        <form
          class="btn-submit-wrapper"
          method="post"
          action="/assignment/submit"
          action="asd"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="student_id" value="{{user._id}}" />
          <input
            type="hidden"
            name="assignment_id"
            value="{{assignment._id}}"
          />
          <input type="file" id="submission-file" name="file" />
          <button
            class="btn-submit btn btn-primary"
            type="submit"
          >Submit</button>
        </form>
      {{/if}}
    </div>
  </div>
{{/ifEquals}}

<style>
  .assignment-file { display:flex; align-items: center; } .assignment-file h4 {
  margin: 0; margin-right: 5px; } .assignment-description { padding: 15px;
  color: #004085; background-color: #cce5ff; border-color: #b8daff; }
  .submission { display:flex; } .student-table { width: 100%; }
  .btn-submit-wrapper { display:flex; justify-content: center; flex-direction:
  column; align-items: center; } .btn-submit-wrapper button{ margin-top:10px;
  padding:8px 18px; display:none; } .grade { display:flex; }
</style>
<script>
 let inputFile = document.querySelector("#submission-file");
let btnSubmit =
    document.querySelector(".btn-submit");
if (inputFile) {
    inputFile.addEventListener("change", (e) => {
        if (e.target.value == "") {
            btnSubmit.style.display = "none";
        } else {
            btnSubmit.style.display = "initial";
        }
    });
}
let btnGrades =
    document.querySelectorAll(".btn-grade");
if (btnGrades) {
    btnGrades.forEach((btnGrade) => {
        let divGrade = btnGrade.parentElement;
        let inputGradeWrapper = divGrade.querySelector(".grade-input-wrapper");
        let inputNumber = inputGradeWrapper.querySelector('input');

        btnGrade.addEventListener("click", () => {
            inputGradeWrapper.classList.remove("hidden");
            btnGrade.classList.add("hidden");
        });

        let btnAccept = divGrade.querySelector('.btn-success');
        let btnCancel = divGrade.querySelector('.btn-danger');

        btnCancel.addEventListener('click', () => {
            inputGradeWrapper.classList.add("hidden");
            btnGrade.classList.remove("hidden");
        })

        console.log(inputNumber)
        inputNumber.addEventListener('input', (e) => {

                let value = Number(e.target.value);
                {{!-- if(isNaN(value)) {
                  console.log("sad")
                  return;
                } --}}
                if (isNaN(value) || value < 0) {
                    value = 0;
                } else if (value > 10) {
                    value = 10;
                } else {
                    value = Math.round(value * 10) / 10;
                }
                e.target.value = value.toString();
                console.log(value);
        })
    });

}
</script>

<script>

</script>